<ion-content>
  <div class="fondo">
    <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked" >id: {{this.usuario.value.id}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" >rut: {{this.usuario.value.rut}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" >Nombre: {{usuario.nombre}}</ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-label position="stacked" *ngIf="this.usuarios.tipo_usuario == 'alumno'" >Semestre: {{usuario.semestre}}</ion-label>
        <ion-label position="stacked" *ngIf="this.usuarios.tipo_usuario == 'profesor'" >Asignatura: {{clase.nombre}}   {{clase.sigla_asignatura}}</ion-label>
        <ion-label position="stacked" *ngIf="this.usuarios.tipo_usuario == 'administrador'" >Privilegios: {{usuario.tipo_usuario}}</ion-label>
      </ion-item> -->
      <!-- <ion-item>
        <ion-label position="stacked" >Correo: {{this.usuarios.email}}</ion-label>
      </ion-item> -->
    </ion-card-content>
    </ion-card>
    </div>
</ion-content>