<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <img src="../../../assets/img/Logo_DuocUC.svg.png" alt="logo_duoc" width="40%">
      <ion-card-header>
        <img src="../../../assets/img/user-login.png" alt="user-login">
        <h1 class="centrar">Recuperar contraseña</h1>
        <p class="centrar1">Para recuperar su contraseña debe escribir una dirección de correo, para asi poder restablecerla.</p>
      </ion-card-header>
      <ion-item>
        <ion-input class="centrar" placeholder="Ingrese correo"></ion-input>
      </ion-item>
      <ion-button expand="full">Enviar correo</ion-button>
    </ion-card>
  </div>
</ion-content>
